.todos {
  border-bottom: 0.5px solid #979797;
  padding: 20px;
  position: relative;
  cursor: pointer;
  & > .todoCheckbox {
    margin-right: 20px;
    border-radius: 50px;
  }
  .fa-circle path {
    stroke: blue;
    stroke-width: 30px;
  }

  .todosName {
    font-size: 18px;
    letter-spacing: -0.25px;
    color: #494c6b;
  }
  .deleteTodo {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.todos:hover .deleteTodo {
  display: block;
}
